@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

table {
  margin: 5rem auto;
  border: 1rem hidden #198a7b;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  max-width: 70rem;
  table-layout: fixed;
}

thead {
  font-size: 1.8rem;
  background-color: #277752;
  color: #fff;
}

th,
td {
  border: 1px solid #3f26ac;
  min-width: 20rem;
  padding: 1rem;
  line-height: 1.7;
  overflow: hidden;
  white-space: nowrap;
  -moz-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

td {
  font-size: 1.4rem;
}
